@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-h1 {
        @apply text-2xl font-semibold text-gray-800 border-b-2 py-1 my-6;
    }

    .header-h2 {
        @apply text-xl font-semibold text-gray-800 border-b-2 py-1 my-6;
    }

    .header-h3 {
        @apply text-lg font-semibold text-gray-800 border-b-2 py-1 my-6;
    }

    li {
        @apply my-3 ml-3 list-disc;
    }

    p {
        @apply my-3;
    }
}