<?php $this->headTitle('Impressum'); ?>

<div class="px-4 py-0 sm:px-0">
    <div class="rounded-lg h-96">
        <h1 class="header-h1">Impressum</h1>
        <address>Parcel Tracker API <br>
            123 Anywhere St, <br>
            Brisbane, 2006, Australia</address>
        <p>Tel.: <a href="tel:+61-0419-123-456">+61-0419-123-456</a>  /
            E-Mail: <a href="mailto:john.citizen@example.org">john.citizen@example.org</a> </p>
        <h2 class="header-h2" id="editor">Editor:</h2>
        <p>John Citizen</p>
        <h2 class="header-h2" id="haftungshinweis">Haftungshinweis:</h2>
        <p>Alle Rechte dieses Internet-Auftritts bleiben vorbehalten.
            Unauthorisiertes Kopieren und Verwenden von Inhalten, Fotos und Abbildungen dieses Angebots ist verboten.
            Die Inhalte der Website sind ausschließlich für informative Zwecke zu nutzen.
            Das Kopieren, Vervielfältigen oder Verändern der Website ist nicht gestattet.</p>
    </div>
</div>
